.modal_outer_wrapper {
  @include fullscreen_wrapper;
  flex-direction: column;
  position: absolute;
  top: 0;
  background: rgba($color: #000000, $alpha: 0.6);
}

.modal_middle_wrapper {
  @include flex_centre;
  height: 100%;
  flex-direction: column;
}

.modal_inner_wrapper {
  width: $g4;
  min-width: 600px;
  background: $black;
  border: $border;
  padding: 3vh;
  background-image: url("/images/modal_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal_header {
  margin-bottom: 10px;
}

.modal_para {
  color: $gray;
}

//presskit modals
.press_img_wrapper {
  position: relative;
}
.press_img_wrapper img {
  width: 100%;
  height: auto;
}

.pr_imgs {
  margin: 20px 0;
}

//inspect modals
.inspect_modal_wrapper {
  padding: $gutter / 2;
  width: 400px;
  position: absolute;
  right: $g1 / 2;
  bottom: $g3 / 2;
  margin-right: 5vw;
  height: 180px;
}

.inspect_modal_title {
  margin-bottom: $gutter / 4;
}

//error msg modal
.error_modal {
  @include flex_centre;
  padding: 10px;
  position: relative;
  z-index: 20000;
  height: 100vh;
  min-width: 100vw;
  background: $black;
  p {
    text-align: center;
  }
}

.mobile_indicator_wrapper {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}

// media queries
@media (max-width: 1280px) {
  .inspect_modal_wrapper {
    right: 0;
    margin-right: 5vw;
    bottom: $g2;
  }
}
@media (max-width: 720px) {
  .modal_outer_wrapper {
    padding: $g1 / 2;
  }
  .modal_inner_wrapper {
    width: 100%;
    min-width: auto;
    padding: $g1 / 2;
  }
  .pr_imgs {
    margin: 10px 0;
  }
  .inspect_modal_wrapper {
    left: 5vw;
    margin-right: 5vw;
    bottom: $g3;
  }
}
@media (max-width: 480px) {
  .inspect_modal_wrapper {
    left: 0;
    margin-right: 0;
    padding: 10px;
    bottom: $g4;
    width: 90%;
    background: $black;
    padding: 20px;
    margin-left: 5%;
    border: $border;
    height: auto;

    &.safari-ios {
      &.fern_modal {
        bottom: 4rem;
      }
    }
  }
}

@media (max-height: 780px) or (max-width: 580px) {
  .press_img_wrapper img {
    float: left;
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}

@media (max-width: 580px) {
  .pr_middle {
    justify-content: flex-start !important;
  }
}
